---
layout: default
---

<div class="am-container">
  <!-- Header -->
  <h1 class="am-text-center am-text-xxl am-margin-top-xl am-margin-bottom-xs">
    <span class="zh">谭艾迪</span>
    <span class="en">Aidi Tan</span>
  </h1>
  <div class="am-text-center">
    <div class="am-link-muted am-margin-vertical-xs">
      <a href="https://github.com/aidistan" target="_blank" class="am-icon-md am-icon-github"></a>
    </div>
    <div>
      <span class="zh">男 · 25岁 · 狮子座</span>
      <span class="en">Male · 25 · Leo</span>
    </div>
    <div>
      <span>18811229458 · aidistan@163.com</span>
    </div>
  </div>

  <!-- Education Background -->
  <h2>
    <span class="zh">教育背景</span>
    <span class="en">Education Background</span>
  </h2>
  <hr>
  <div class="am-g">
    <div class="am-u-sm-12 am-u-md-6 am-margin-bottom">
      <img class="am-fl am-margin-right" src="assets/TJU.jpg">
      <div class="am-text-lg am-margin-bottom-sm">
        <span class="zh">天津大学</span>
        <span class="en">Tianjin University</span>
        <span class="am-fr am-text-sm am-padding-top-xs">2008.09 - 2012.06</span>
      </div>
      <div class ="am-text-grey">
        <span class="zh">学士 · 自动化</span>
        <span class="en">Bachelor · Automation</span>
      </div>
      <div>
        <span class="zh">10+ 社团经历 · 优秀本科毕业生</span>
        <span class="en">Joined 10+ clubs · Outstanding graduate award</span>
      </div>
    </div>
    <div class="am-u-sm-12 am-u-md-6 am-margin-bottom">
      <img class="am-fl am-margin-right"  src="assets/THU.jpg">
      <div class="am-text-lg am-margin-bottom-sm">
        <span class="zh">清华大学</span>
        <span class="en">Tsinghua University</span>
        <span class="am-fr am-text-sm am-padding-top-xs">
          <span class="zh">2012.09 - 至今</span>
          <span class="en">2012.09 - Present</span>
        </span>
      </div>
      <div class ="am-text-grey">
        <span class="zh">博士 · 控制科学与工程 · 生物信息学</span>
        <span class="en">Ph.D. · Bioinfomatics</span>
      </div>
      <div>
        <span class="zh">导师：<a class="am-link-muted" href="http://bioinfo.au.tsinghua.edu.cn/member/lishao/" target="_blank">李梢</a>（杰青，家族医学传人）</span>
        <span class="en">Advisor: <a class="am-link-muted" href="http://bioinfo.au.tsinghua.edu.cn/member/lishao/" target="_blank">Shao Li</a></span>
      </div>
    </div>
  </div>

  <!-- Work Experiences -->
  <h2>
    <span class="zh">实习经历</span>
    <span class="en">Work Experiences</span>
  </h2>
  <hr>
  <div class="am-g">
    <div class="am-u-sm-12 am-margin-bottom">
      <img class="am-fl am-margin-right" src="assets/Moka.jpg">
      <div class="am-text-lg am-margin-bottom-sm">
        <span class="zh">北京希瑞亚斯科技有限公司</span>
        <span class="en">Beijing Serious Tech Co. Ltd.</span>
        <span class="am-fr am-text-sm am-padding-top-xs">
          <span class="zh">2016.11 - 2017.02</span>
          <span class="en">2016.11 - 2017.02</span>
        </span>
      </div>
      <div class ="am-text-grey">
        <span class="zh">全栈工程师</span>
        <span class="en">Full Stack Developer</span>
      </div>
      <div>
        <span class="zh">Node.js 全栈开发 · Chrome 插件开发</span>
        <span class="en">Node.js development · Chrome extension development</span>
      </div>
    </div>
    <div class="am-u-sm-12 am-margin-bottom">
      <img class="am-fl am-margin-right" src="assets/SyngenTech.png">
      <div class="am-text-lg am-margin-bottom-sm">
        <span class="zh">北京合生基因科技有限公司</span>
        <span class="en">Beijing SyngenTech Co. Ltd.</span>
        <span class="am-fr am-text-sm am-padding-top-xs">
          <span class="zh">2015.05 - 2016.10</span>
          <span class="en">2015.05 - 2016.10</span>
        </span>
      </div>
      <div class ="am-text-grey">
        <span class="zh">首席信息官 · 全栈工程师</span>
        <span class="en">Chief Information Officer · Full Stack Developer</span>
      </div>
      <div>
        <span class="zh">小型技术团队管理 · 团队协作理念推广 · 内外系统设计实现 · 服务集群日常运维</span>
        <span class="en">Small IT team management · Architecturing, implementation and deployment of all internal and external systems</span>
      </div>
    </div>
  </div>

  <!-- Selected Projects -->
  <h2>
    <span class="zh">项目经验</span>
    <span class="en">Selected Projects</span>
  </h2>
  <hr>
  <div id="projects" class="am-margin-bottom-lg">
    <div v-show="projects.length === 0">
      <i class="am-icon-spinner am-icon-pulse am-margin-right-sm"></i> Loading...
    </div>
    <div class="am-g" v-for="pair in projectPairs">
      <project class="am-u-sm-12 am-u-md-6 am-margin-bottom-lg" :project="pair[0]"></project>
      <project class="am-u-sm-12 am-u-md-6 am-margin-bottom-lg" :project="pair[1]" v-if="pair[1]"></project>
    </div>
  </div>
</div>

<script src="https://unpkg.com/vue@2.0.1/dist/vue.js"></script>
<script src="https://unpkg.com/vue-resource@1.0.3/dist/vue-resource.min.js"></script>

{% raw %}
<script>
Vue.component('project', {
  template: '\
<div class="project">\
  <div class="am-text-lg am-margin-bottom-sm">\
    <span class="zh">{{ project.title.zh }}</span>\
    <span class="en">{{ project.title.en }}</span>\
    <a v-if="project.link" class="am-link-muted" :href="project.link" target="_blank"><i class="am-icon-link"></a></a>\
    <span class="am-fr am-text-sm am-padding-top-xs">\
      <span class="zh">{{ project.duration.zh }}</span>\
      <span class="en">{{ project.duration.en }}</span>\
    </span>\
  </div>\
  <div class ="am-text-grey">\
    <span class="zh">{{ project.role.zh }}</span>\
    <span class="en">{{ project.role.en }}</span>\
  </div>\
  <div>\
    <span class="zh">{{ project.description.zh }}</span>\
    <span class="en">{{ project.description.en }}</span>\
  </div>\
  <span class="am-badge am-round am-margin-right-xs" v-for="(type, name) in project.tags">{{ name }}</span>\
</div>\
',
  props: ['project']
})

new Vue({
  el: '#projects',
  data: function () {
    return {
      projects: []
    }
  },
  computed: {
    projectPairs: function () {
      pairs = []
      for (let i = 0; i < this.projects.length; i += 2) {
        pairs.push([this.projects[i], this.projects[i+1]])
      }
      return pairs
    }
  },
  created: function () {
    var self = this

    this.$http.get('developer.json').then(function (res) {
      res.json().then(function (data) {
        self.projects = data.projects
      })
    })
  }
})
</script>
{% endraw %}
