<a id="lang" class="am-btn am-btn-default am-round">
  <span class="en">汉</span>
  <span class="zh">En</span>
</a>

<script>
  Object.defineProperty(window, "lang", {
    set (lang) {
      let body = document.getElementsByTagName('body')[0]
      body.classList.remove('en', 'zh')
      body.classList.add(lang)

      document.getElementById('lang').onclick = () => {
        window.lang = lang === 'zh' ? 'en' : 'zh'
      }
    }
  })

  let match = /lang=(\w+)/.exec(window.location.search)
  lang = match === null ? 'en' : match[1]
</script>
