---
---

.am-btn-default {
  border: solid 1px #eee;
  background-color: transparent;
}

.am-btn-default:hover,
.am-btn-default:focus {
  border: solid 1px #aaa;
  background-color: transparent;
}

.am-text-grey {
  color: #A6A6A6;
}

body {
  .en,
  .zh { display: none; }

  &.en .en,
  &.zh .zh { display: inherit; }

  #lang {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
  }
}
