<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="alternate icon" type="image/png" href="{{ "/assets/favicon.png" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.0/css/amazeui.min.css">
    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  </head>
  <body>
    {{ content }}
    <script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.0/js/amazeui.min.js"></script>
    <script src="{{ "/assets/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
